.main {
  display: flex;
  justify-content: center;
}

h4 {
  color: white;
  font-weight: 700px;
  font-family: Arial, Helvetica, sans-serif;
}

.qustion {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  padding: 10px;
  width: 950px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  background-color: #3f3f3f;
  ;
  font-weight: 700px;
}

.btn {
  margin-top: 10px;
  padding: 0.50rem 1.25rem;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  font-size: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.btn:hover {
  background-color: #3f3f3f;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
}

.radiobtn {
  padding: 2px;
  margin: 10px;
}

.btnfinish {
  display: flex;
  justify-content: space-between;
}

.btnstyle {
  display: flex;
  justify-content: space-between;
}
