<div class="container">
    <div class="main">
        <div class="body">
            <div class="img">
                <p-image src="https://im.idiva.com/content/2014/Mar/why_you_must_think_positive.jpg" alt="thinking imag"
                    width="250"></p-image>
            </div>
            
            <div>
                <h2 class="heading">Are you an introvert or an extrovert?</h2>
            </div>
            <div>
                <button class="startbtn" routerLink="/qustion">Start Test</button>
            </div>
        </div>
    </div>
</div>