<div class="container">
    <div class="main">
        <div class="body">
            <div class="img">
                <p-image src="https://i.pinimg.com/originals/9a/fe/9f/9afe9f518a607154163e7f99d3682af2.jpg" alt="thinking imag"
                    width="300px"></p-image>
            </div>
            
            <div>
                <h2 class="heading">Are you an introvert or an extrovert?</h2>
            </div>
            <div>
                <button class="startbtn" routerLink="/qustion">Start Test</button>
            </div>
        </div>
    </div>
</div>