.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.startbtn .p-button {
    width: 100%;
    background-color: white;
    color: black;
}

.startbtn .p-button:hover {
    background-color: #3f3f3f;
}

.p-card-header img {
    height: 250px;
    object-fit: cover;
    max-width: 100%;

}

.p-card .p-card-subtitle {
    color: white;
}